# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\毕设\轴承（项目）\Zhouchen\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
